@charset "utf-8";

@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");

* {
	box-sizing: border-box;
}

.link {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	cursor: pointer;
	color: white;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.main {
	margin-top: 200px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 100px 200px;
}