*{
	box-sizing : border-box;

}
body{
	margin-top : 100px;
	width : 100%;
	margin : 0 auto;
}
.bg{
	max-width : 760px;
	height : 240px;
	background : #fafafa;
	margin : auto;
	border-bottom : 1px solid lightgray;
	margin-bottom : 30px;
}
.bg2{
	max-width : 760px;
	height : 760px;
	background : white;
	margin : auto;
	background : #fafafa;
}
.pi{
	height : 33.3%;
	float: left; 
	width: 33.3%;
}
.profile{
	width : 140px;
	height : 140px;
	border-radius : 150px;
	margin-left : 40px;
	margin-top : 30px;
}
.gg{
	width : 30%;
	height : 100%;
	float : left;
	padding-left : 30px;
}
.gg2{
	width : 70%;
	height : 45%;
	float : left;
	padding-left : 37px;
	display : inline-flex;
}
.gg3{
	width : 70%;
	height : 9%;
	float : left;
	padding-left : 40px;	
	padding-top : 3px;
}
.gg4{
	padding-left : 40px;
	padding-top : 20px;
	width : 70%;
	height : 51%;
	float : left;
}
.board{
	width : 25%;
	height : 55%;
	text-align : center;
	float : left;
}
.ow{
	width : 100%;
	height : 40%;
}
.h_font{
	width : 100%;
	font-size : 22pt;
	margin-top : 25px;
	margin-right : -70px;
	margin-left : 36px;
	float : left;
	padding: 8px 4px;
}
.update{
	font-size : 12pt;
	border : 1px solid rgba(var(--d0b,219,219,219),1);
	border-radius : 4px;
	height : 30px;	
	margin-top : 30px;
	margin-left : 20px;
	padding-top: 3px;
    padding-bottom: 3px;
    border-bottom-width: 1px;
    vertical-align: bottom;
}
.m15{
	margin-bottom : 15px;
}
.m10{
	margin-top : 10px;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.email{
	width : 50%;
	float : left;
	font-size : 12pt;
	padding-left : 38px;
	padding-top : -10x;
	text-rendering: auto;
}
.name{
	font-size : 12pt;
	text-rendering: auto;
	margin-left : 10px;
}
.modal-body span{
	vertical-align: super;
}
.empty_pf{	
	margin-left : 300px;
	margin-top : 50px;
}
.empty_pf2{	
	margin-left : 290px;
	margin-top : 10px;
}
.imagev{
	width: 200px;
	height: 200px;
	margin-left : 25px;
	margin-top:13px;
}